body{
    margin:0;
    font-family: 'Times New Roman', Times, serif; 
}
#head{
    font-size: 50px;
    margin:40px 10px 10px 10px;
}
.Head{
    font-size: 50px;
    margin:10px;
}
.diff_color{
    color: hsl(44, 100%, 50%)
}
.spe{
      margin-bottom: 50px;
}
.Type{
    font-size:130%;
    color: dimgray;
}
h3{
    font-size: 25px;
}
.Division{
    width: 40%;
    float:left;
    margin-left:5%;
    padding-right: 5%;
}
.Division img{
    width:100%;
}   
section{
    height:500px;
    padding-bottom: 120px;;
}
.top-banner{
    background-image: url("images/Programming Hero/top-banner.png");
    background-repeat: no-repeat;
}
.link{
    text-decoration: none;
    background-color: rgb(122, 122, 231);
    color:white;
    font-weight:600;
    padding:10px 20px;
    border-radius: 5px;
    font-size: 20px;
    background-image: linear-gradient(45 deg,rgb(189, 189, 252),rgb(60, 60, 250));
}

.second-banner{
    background-image: url("images/Programming\ Hero/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.pad2div2{
    padding-top: 10px;
}
.second-head{
    font-size: 40px;
}
.title{
   font-size: 45px;
   margin:0px;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 350px;
    padding: 30px;
    width: 35%;
    margin:5%;
    background-color: white;
}
.experience{
    background-image: url("images/Programming\ Hero/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left ;
    
}
#full_stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby_dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightblue,blue);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 10px;
}
